body {
    margin: 0;
    padding: 0;
    background: chocolate;  
}
header {
    text-align: center;
    color: green;
    display: block;  
    margin: 4px; 
    padding-top: 0.25em; 
    padding-bottom: 0.25em;
}
#div-reading {
    width: 80%;
    margin: 0 auto;
}
#div-cards {
    margin: 0 auto;
}
#guess {   
    margin: 2em 0;
    padding: 2em;
    color: green;
    border: 1px solid chocolate;
    font-weight: bolder;
    border-left: 15px solid chocolate;
    text-transform: uppercase;
    text-align: ceter;
    width: 100%;
    display: none;
}
#btn-qes {
    margin: 4px auto;
    padding: 3px;      
}
#img-cards {
    margin: 0;
    padding: 0;
    width: 100%;  
}
