#body {
    width: 100%;
    height: 100%;
    background-color: #d3d3d3;
}
#banner {
    color: black;
    text-align: center;
    font-weight: bolder;    
} 
label {
    width: 100%;
    color: white;
    font-weight: bold;
    margin: 10px;
}
#unit {
    font-size: 1.5rem;
    color: blueviolet;
}
.tab-label {
    color: blueviolet;
    font-weight: bold;
}
i {
    color: blueviolet;
}
#result {
    display: none;
}
#total {
    font-size: 2.5rem;
    color: blueviolet;
}
#currency {
    font-size: 2.5rem;
}
form {
    background-image: url("images/currency-converter-cover-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}